common: &common
  DATABASE_USERNAME: <%= ENV["USER"] %>
  NEXUDUS_USERNAME: username
  NEXUDUS_PASSWORD: password

test:
  <<: *common
  DEVISE_SECRET: super-secret
  SECRET_KEY_BASE: maybe-even-more-secret

development:
  <<: *common
  DEVISE_SECRET: super-secret
  SECRET_KEY_BASE: maybe-even-more-secret
  ROUTER_HOST: localhost
  ROUTER_USERNAME: username
  ROUTER_USERNAME: password
