<h1 class="page-header">{{ member.first_name }} {{ member.last_name }}</h1>
<ul>
  <li>Email: {{ member.email }}</li>
  <li>Membership level: {{ member.membership_level }}</li>
  <li>Membership status: {{ member.membership_status }}</li>
  <li>Membership renewal date: {{ member.membership_renewal_date }}</li>
</ul>

<h2 class="sub-header">
  Devices
  <button ng-click="addDevice()" class="btn btn-default">Add</button>
</h2>

<form ng-submit="submit()" class="form-inline" role="form">

  <div class="row" ng-repeat="device in member.devices">

    <div class="form-group">
      <label class="sr-only" for="mac_address_{{ $index }}">MAC Address</label>
      <input
        ng-model="device.mac_address"
        placeholder="Enter MAC Address"
        type="text"
        id="mac_address_{{ $index }}"
        class="form-control">
    </div>

    <div class="form-group">
      <label class="sr-only" for="device_type_{{ $index }}">Type</label>
      <select
        ng-required
        ng-model="device.type_id"
        ng-options="type.id as type.name for type in deviceTypes"
        id="device_type_{{ $index }}"
        class="form-control">
      </select>
    </div>

  </div>

  <button type="submit" class="btn btn-default">Save</button>
</form>
